<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
  <link rel="stylesheet" href="{% static '/Register/style.css' %}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}
  {% endblock title %}</title>
</head>
<body>
<div class="container">
{% if message %}
<span style="font-size: 30px; margin-bottom: 50px; color: var(--primary)">{{ message }}</span>
{% endif %}
  {% block content %}
    
  {% endblock content %}
</div>
</body>
</html>